<p ng-show="messageWait !== ''"><span class="mas loader loader-quart" ></span>{{messageWait}}</p>
<button class="button w100 icon icon-bracket1" ng-click="retour()" ng-show="club">Précédent</button>
<div class="w100 animation-liste-fade-left" ng-if="club">
    <div class="item w100">
        {{club.nom}} -  [{{club.numero}}]<br/>
        {{club.adressesalle1}}<br/>
        {{club.adressesalle2}}<br/>
        {{club.codepsalle}} {{club.villesalle}}<br/>
        <a href="{{club.web}}">{{club.web}}</a><br/>
    </div>
    <div class="item w100 odd"></div>
    <div class="item w100">
    {{club.nomcor}} {{club.prenomcor}}<br/>
    Tel : {{club.telcor}}<br/>
    Email : {{club.mailcor}}
    </div>
    <div class="item w100 odd"></div>
    <button class="row button" ng-click="licencies()">Voir les licenciés ...</button>
    <button class="row button" ng-click="equipes()">Voir les équipes ...</button>
</div>
