<p class="txtcenter wait" ng-show="messageWait !== ''">{{messageWait}}</p>
<div class="w100 animation-liste-fade-left" ng-if="joueur">
    <div class="item w100">
        {{joueur.nom}} {{joueur.prenom}} -  [{{joueur.categ}}]<br/>
        {{joueur.licence}}<br/>
        {{joueur.club}}
    </div>
    <div class="item w100 odd"></div>
    <div class="item w100">Classement officiel : {{joueur.clast}} - {{joueur.valcla}}</div>
    <div class="item w100">Points début de saison : {{joueur.valinit}}</div>
    <div class="item w100">Points mensuels : {{joueur.point}}</div>
    <div class="item w100">Progression mensuelle : {{joueur.progmois}}</div>
    <div class="item w100">Progression annuelle : {{joueur.progann}}</div>
    <div class="item w100 odd"></div>
    <div class="item w100">Rang national : {{joueur.clnat}}</div>
    <div class="item w100">Rang régional : {{joueur.rangreg}}</div>
    <div class="item w100">Rang départemental : {{joueur.rangdep}}</div>
    <div class="item w100 odd"></div>
    <!--div class="item w100">Classement global : {{joueur.clglob}}</div-->
    <!--div class="item w100">Classement Pro : {{joueur.clpro}}</div-->
</div>
<button class="button w100 icon icon-uncheck" ng-click="fermer()" ng-if="joueur">Nouvelle recherche</button>