<p class="row txtcenter" ng-show="messageWait !== ''"><span class="mas loader loader-quart" ></span>{{messageWait}}</p>
<button class="button w100 icon icon-bracket1" ng-click="retour()" ng-show="joueurs">Précédent</button>
<input ng-show="joueurs" placeholder="Filtrer les joueurs ..." class="input-text row" ng-model="f" />
<ul ng-if="joueurs" class="pa0" class="list">
    <li class="mb1 animation-liste-fade-left" data-ng-repeat="joueur in joueurs | filter:f">
        <div class="item w100" ng-class-odd="'odd'" ng-click="consulter(joueur.licence)" >
            <div class="txtleft">
            	<span>{{joueur.nom}} {{joueur.prenom}} <br/> {{joueur.club}}</span>
                <span class="right">{{joueur.clast}}</span>
            </div>
        </div>	        
    </li>
</ul>
