<p class="txtcenter wait" ng-show="messageWait !== ''">{{messageWait}}</p>
<button class="button w100 icon icon-bracket1" ng-click="retour()" ng-show="joueur">Précédent</button>
<div class="w100 animation-liste-fade-left" ng-if="joueur">
    <div class="item w100">
        {{joueur.nom}} {{joueur.prenom}} -  [{{joueur.categ}}]<br/>
        {{joueur.licence}}<br/>
        <span ng-click="joueursParClub(joueur.nclub)">{{joueur.club}}</span>
    </div>
    <div class="item w100 odd"></div>
    <div class="item w100">Classement officiel : {{joueur.clast}} - {{joueur.valcla}}</div>
    <div class="item w100">Points début de saison : {{joueur.valinit}}</div>
    <div class="item w100">Points mensuels : {{joueur.point}}</div>
    <div class="item w100">Progression mensuelle : {{joueur.progmois}}</div>
    <div class="item w100">Progression annuelle : {{joueur.progann}}</div>
    <div class="item w100 odd"></div>
    <div class="item w100">Rang national : {{joueur.clnat}}</div>
    <div class="item w100">Rang régional : {{joueur.rangreg}}</div>
    <div class="item w100">Rang départemental : {{joueur.rangdep}}</div>
    <div class="item w100 odd"></div>
</div>
<button class="button w100 icon icon-bracket2 after" ng-click="partiesDuJoueur()" ng-show="joueur">Matchs disputés</button>
