<form ng-submit='lancerRecherche()' name="form" novalidate>
    <input placeholder="Saisir le numero de licence du joueur ..." class="input-text row" ng-model="licence" />
    <input placeholder="Saisir le nom du joueur ..." class="input-text row" ng-model="nom" />
    <input placeholder="Saisir le prenom du joueur ..." class="input-text row" ng-model="prenom" />
    <input placeholder="Saisir le numéro du club ..." class="input-text row" ng-model="club" />
    <input type=submit class="visually-hidden" />
</form>
